parameters:
    level: 6
    paths:
        - ./aropixel/AdminBundle/src/
        - ./aropixel/BlogBundle/src/
    excludePaths:
        - ./aropixel/AdminBundle/src/Resources/public
    tmpDir: ./tools/phpstan/var
    inferPrivatePropertyTypeFromConstructor: true

    symfony:
       containerXmlPath: app/var/cache/dev/App_KernelDevDebugContainer.xml

    typeAliases:
        ContextData: '''
            array{
                project_name: string,
                root_domain: string,
                extra_domains: string[],
                project_directory: string,
                php_version: string,
                docker_compose_files: string[],
                macos: bool,
                power_shell: bool,
                user_id: int,
                root_dir: string,
                env: string,
                composer_cache_dir: string,
            }
        '''
